.list-filter {
    margin-bottom: 15px; 
    &>div {margin-right: 8px;}
    #statusDropdown {width: 88px; text-align: right;}
    .date-picker {
        display: inline-block;
        .date-picker-btn {width: 218px;}
    }
    .form-control {width: 128px;}
    button {width: 88px; background-color: #337ab7 !important; border-color:  #337ab7 !important;}
}