.table {
    .dsn{
    	display: none;
    }
    .w1{
    	width: 10%;
    }
    .w7{
    	width: 70%;
    }
    .w2{
    	width: 20%;
    }
    .w-5{
    	width: 5%;
    }
    .w1-5{
    	width: 15%;
    }
}